/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Hind+Siliguri:wght@300&family=Raleway:wght@100&display=swap');

/* Variáveis de cores e tamanhos de fonte */

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Dosis', sans-serif !important;
    color: var(--branco);
}

:root {
    --cinza: rgb(55,63,69);
    --branco: white;
    --preto:black;
    --azul: #3182AF;
    --azul-escuro: rgb(2,24,59);
    --titulo1: 2rem;
}

h1 {
    font-size: 1.5rem !important;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--branco);
}

.cabecalho>h1 {
    color: var(--preto);
}

#imglogo {
box-sizing: border-box;
width: 44px;
height: 40px;
}
  
#menulogo {
width: 32px;
}

.quem-somos{
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
text-align: center;
background-image: url(img/fundo-quem.png);
padding: 4px;
height: 90vh;
}


/* Configurações dos botões principais */

.botao-lg{
display: flex;
padding: 0.7rem;
background-color: var(--azul);
border-radius: 10px;
}

.botao-lg>a{
    text-decoration: none;
    }


/* divisão entre seção */

.gap{
    background-color: var(--branco);
    width: 100vw;
    height: 2px;
}


/* Classes Principais */

.ap-projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:4px;
    padding: 8px;
    height: 25vh;
    background-color: var(--cinza);
}

.ap-title {
    border: solid 1px white;
    width: 40vw;
    height: 5vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.clientes {
    display:grid;
    grid-template-areas: 
        "titulo titulo"
        "imagem1 imagem2"
        "imagem3 imagem4"; 
justify-items: center;
gap: 8px;
padding: 8px;
}

.clientes>h3 {
    text-align: center;
    color: var(--preto);

}

.clientes :nth-child(1) {
    grid-area: titulo;
    grid-row: 3fr;
}

.clientes :nth-child(2) {
    grid-area: imagem1;
}

.clientes :nth-child(3) {
    grid-area: imagem2;
}

.clientes :nth-child(4) {
    grid-area: imagem3;
}

.clientes :nth-child(5) {
    grid-area: imagem4;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.rodape>p, .rodape>h3 {
    text-align: center;
    color: var(--preto);
}
/* cards carrossel */

.card-projetos>h2 {
    text-align: center;
    color: var(--preto);
}

.card-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding-top: 16px;
    gap: 16px;
}

.card{
    margin: 4px;
}

.card-image {
    margin: 4px;
}
.card-title>h3 {
    color: var(--preto);
    text-align: center;
}

.card-text>p {
    color: var(--preto);
    text-align: center;
}