body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: black;
}

p {
    color:#FFFFFF
}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;
    height: 8vh;
    background-color: white;
}

#imglogo {
box-sizing: border-box;
width: 44px;
height: 40px;
}
  
#menulogo {
width: 32.32px;
height: 28.5px;
}

.quem-somos{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 4px;
gap: 16px;
}

.quem-somos>h3{
font-family: 'Inter';
font-style: normal;
font-size: 24px;
text-align: center;
color: #FBF7F7;
}

.quem-somos>p{
font-family: 'Inter';
font-style: normal;
font-size: 8px;
text-align: center;
color: #F3E9E9;
}

#imgquem{
width: 320px;
height: 180px;
}

.botao-lg{
display: flex;
justify-content: center;
align-items: center;
align-self: center;
width: 40vw;
height: 4vh;
background: #3182AF;
border-radius: 10px;
}

.botao-lg>h3{
font-family: 'Inter';
font-size: 12px;
color: #FFFFFF;

}

.botao-lg>a{
    font-family: 'Inter';
    font-size: 12px;
    color: #FFFFFF;
    flex: none;
    text-decoration: none;
    }

.ap-projetos, .contato {
    display: flex;
    flex-direction: column;
    gap:4px;
    padding: 8px;
}

.ap-projetos>h3, .contato>h2 {
    color:white;
    text-align: center;
}

.clientes {
    display:grid;
    grid-template-areas: 
        "titulo titulo"
        "imagem1 imagem2"
        "imagem3 imagem4";
}

.clientes>h3 {
    grid-area: titulo;
    color:white;
}

.clientes :nth-child(2) {
    grid-area: imagem1;
}

.clientes :nth-child(3) {
    grid-area: imagem2;
}

.clientes :nth-child(4) {
    grid-area: imagem3;
}

.clientes :nth-child(5) {
    grid-area: imagem4;
}

.icones{
    background-color: #FFFFFF;
    width: 6rem;
}



.rodape{
    background-color: white;
    height: 8vh;
   
}