.container  {
    width: 99vw;
    height: 100vh;
    margin: auto;
}
.cabecalho {
border: solid;
display: flex;
flex-direction: row;
width: 98vw;
height: 12vh;
background: #FFFFFF;
justify-content: space-between
}


.tituloh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cabecalho>#logoh{
    height: 12vh;
    width: 12vw;
    margin: 0;
}